<main class="form-wrapper">
    <form  (ngSubmit)="aoSubimeter()" class="form">
        <h2 class="titulo">Nova Transação</h2>
        <div class="campos">
            <label class="campo-grupo">
                Transação
                <div class="select-wrapper">
                    <select name="tipo-transacao"  class="campo tipo-transacao" required>
                        <option value="" select disabled>Selecione o tipo de Transação</option>
                        <option value="deposito">Depósito</option>
                        <option value="saque">Saque</option>
                    </select>
                </div>
            </label>
            <label class="campo-grupo">
                Valor
                <div class="input-wrapper">
                    <!-- Usamos step para definir que o usuario pode apenas digitar valores com 2 casas decimais -->
                    <input [(ngModel)]="valorTransacao" type="number" min="0.01" step="0.01" placeholder="000,00" name="valor" class="campo input-valor-transacao" required>
                </div>
            </label>
            <button class="botao-confirmar-transacao">Confirmar Transação</button>
        </div>
    </form>
</main>